*{
    margin: 0px;
    padding: 0px;
}

body{
    background: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'gill sans'; 
}

.Intro{
    margin-top: 80px;
}

.subtitulos{
    font-size: 25px;
    padding-top: 40px;
    color: lightblue;
}

p{
    margin-top:0; margin-bottom:0;
    font-size: 18px;
}

.titulo{
    background-color: lightblue;
    padding-top: 20px;
    color: black;
    position: fixed;
    width: 98%;
    top: 0px;
}

.center{
    display: block;
    margin: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 13px;

}

h4, li{
    color: green;
}